#!/usr/bin/env python
# coding: utf-8

# In[ ]:


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
div#d2 {
    color:rgb(35, 224, 114);
    margin-top: 60px;
    text-align: center;
    font-size: large;
} 

a#boring{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 19px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}

a#boring:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

a#boring span{
    position: absolute;
    display: block;
}
a#boring span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a#boring span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a#boring span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a#boring span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}   
@media screen and (max-width:2000px) {
            .column1 {
                width: 100%;
            }
            .column2{
                width: 100%
            }
            }
            *(Create, three, equal, columns, that, floats, next, to, each, other, */)
            .column1 {
            float: left;
            width: 49%;
            margin-top: 30px;
            border-style: dashed;
            border-color: darkgray;
            border-width: 3px;
            border-left: black;
            border-top: black;
            border-bottom: black;
            }
            .column2{
                float:left;
                width:51%;
                /* padding-top: 100%;
                margin-top: 20%; */
            }
          
            *(Clear, floats, after, the, columns, */)
            .row:after {
            content: "";
            display: table;
            clear: both;
            }
    .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  input {
    border: 2px solid rgb(0, 153, 255);
    background-color:rgb(213, 218, 228);
    border-radius: 4px;
    /*padding: auto;*/
    height: 25px;
    padding: 3px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(63, 62, 62);
    opacity: 1; /* Firefox */
    font-family: 'Raleway', sans-serif;
  }
    .navbar {
    background-color:navy;
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 0 25px 0 grey;
    }
    .navbar *{
        display:inline;
    }
    .navbar a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .dropdown {
    float: left;
    overflow: hidden;
    }
    .dropdown .dropbtn {
    font-size: 25px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:rgb(1, 6, 8);
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    .dropdown-content a:hover {
    background-color: #ddd;
    }
    .dropdown:hover .dropdown-content {
    display: block;
    }
    ul{
        margin-left: 150px;
    }

